.minto-page,
.minto-page *,
.minto-page *::before,
.minto-page *::after {
  box-sizing: border-box;
}

.minto-page {
  font-family: "Roboto", "Zen Kaku Gothic New", sans-serif;
  color: #008edc;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  background: #fff;
  overflow-x: hidden;
}

.minto-page img {
  width: 100%;
  height: auto;
  pointer-events: none;
}

.minto-page ul,
.minto-page ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.minto-page h1,
.minto-page h2,
.minto-page h3,
.minto-page h4,
.minto-page h5,
.minto-page h6,
.minto-page p {
  margin: 0;
  padding: 0;
}

.minto-page a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}

.minto-page a:hover {
  opacity: 0.7;
}

.minto-page .inner {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: content-box;
}

.minto-page .wrap {
  display: flex;
  align-items: start;
}

.minto-page .bg-color {
  background: #cfefef;
  background: #cfeeff;
}

.minto-page section {
  padding: 100px 0;
}

.minto-page .center {
  text-align: center;
}

.minto-page .margin-bottom-16 {
  margin-bottom: 16px;
}

.minto-page .mv {
  padding: 73px 0 0;
}

.minto-page .mv .wrap {
  justify-content: space-between;
}

.minto-page .mv .content {
  text-align: center;
}

.minto-page .mv img {
  width: auto;
}

.minto-page .mv .img {
  max-width: 437px;
}

.minto-page .mv .img img {
  width: 100%;
}

.minto-page .mv__title {
  font-size: 62px;
  font-weight: 900;
  letter-spacing: 18.6px;
  padding-left: 26px;
  margin-bottom: 20px;
}

.minto-page .mv__text {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 5.2px;
  margin-left: 18px;
  margin-top: 30px;
  margin-bottom: 12px;
}

.minto-page .app {
  text-align: center;
}

.minto-page .app__text {
  font-size: 20px;
  margin-bottom: 30px;
  letter-spacing: 4px;
}

.minto-page .app__link {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.minto-page .app__link a {
  display: inline-block;
}

.minto-page .app__link a:first-child {
  max-width: 191px;
}

.minto-page .app__link a:last-child {
  max-width: 230px;
}

.minto-page .about .content {
  max-width: 450px;
  width: 100%;
}

.minto-page .about .wrap {
  gap: 5.88%;
  align-items: center;
}

.minto-page .about section:nth-child(even) .wrap {
  flex-direction: row-reverse;
}

.minto-page .about section:nth-child(3) {
  padding-bottom: 0;
}

.minto-page .about section:nth-child(3) .wrap {
  align-items: flex-end;
}

.minto-page .about section:nth-child(3) .wrap .content {
  padding-bottom: 100px;
}

.minto-page .about section:nth-child(5) .img {
  padding: 0 35px;
}

.minto-page .about h2 {
  font-size: 28px;
  letter-spacing: 5.6px;
  margin-left: -5.6px;
  font-weight: 700;
  margin-bottom: 20px;
}

.minto-page .about p {
  letter-spacing: 3.2px;
  margin-left: -3.2px;
}

.minto-page .about1 {
  background: #c5e9fc;
}

.minto-page .review {
  text-align: center;
}

.minto-page .review .inner {
  max-width: 780px;
}

.minto-page .review__items {
  margin: 63px 0 50px;
}

.minto-page .review__item {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 25px 0 rgba(10, 69, 101, 0.09);
  color: #505050;
  padding: 30px 40px;
  text-align: left;
}

.minto-page .review__item:not(:first-child) {
  margin-top: 20px;
}

.minto-page .review__item .head {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 4.4px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.minto-page .review__item .head img {
  width: 110px;
}

.minto-page .review__item .body {
  letter-spacing: 3.2px;
}

.minto-page .review__bottom p {
  color: #505050;
  margin-bottom: 20px;
}

.minto-page .review__bottom a {
  display: inline-block;
  border-radius: 50px;
  border: 1px solid #008edc;
  font-size: 20px;
  line-height: 2;
  padding: 5px 45px;
  letter-spacing: 4px;
  padding-left: 49px;
}

.minto-page .review .link {
  margin-top: 32px;
  text-align: center;
}

.minto-page footer {
  text-align: center;
  padding: 100px 0 20px;
}

.minto-page footer img {
  width: auto;
}

.minto-page footer .app__link {
  margin-top: 30px;
}

.minto-page footer .app__link img {
  width: 100%;
}

.minto-page .footer__copy {
  font-size: 12px;
  color: #505050;
  font-weight: 700;
  letter-spacing: 2.4px;
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .minto-page .inner {
    padding: 0 20px;
  }

  .minto-page .wrap {
    flex-direction: column;
    align-items: center;
  }

  .minto-page .mv {
    margin: 20px 20px 0;
    position: relative;
    border-radius: 10px;
    padding: 39px 0 0;
  }

  .minto-page .mv .img {
    margin-right: 3vw;
  }

  .minto-page .mv__title {
    font-size: 42px;
    letter-spacing: 12.6px;
    padding-left: 12.6px;
  }

  .minto-page .mv__text {
    font-size: 16px;
    letter-spacing: 3.2px;
    margin-left: 0;
    margin-top: 0;
  }

  .minto-page .icon {
    width: 60px !important;
    margin-bottom: 20px;
  }

  .minto-page .badge {
    position: absolute;
    bottom: -55px;
    left: 48%;
    transform: translateX(-50%);
  }

  .minto-page .app {
    padding: 100px 0 60px;
  }

  .minto-page .app__text {
    letter-spacing: 3.2px;
    margin-left: 3.2px;
    font-size: 16px;
  }

  .minto-page .app__link {
    flex-direction: column;
    gap: 0;
  }

  .minto-page .app__link a:first-child {
    max-width: 230px;
  }

  .minto-page .about .content {
    padding: 0 20px;
  }

  .minto-page .about .wrap {
    gap: 50px;
  }

  .minto-page .about section:nth-child(even) .wrap {
    flex-direction: column;
  }

  .minto-page .about section:nth-child(2) {
    padding-bottom: 0;
  }

  .minto-page .about section:nth-child(2) .img {
    width: 100vw;
  }

  .minto-page .about section:nth-child(3) .wrap .content {
    padding-bottom: 0;
  }

  .minto-page .about h2 {
    margin-left: 0;
  }

  .minto-page .about p {
    margin-left: 0;
  }

  .minto-page .review {
    text-align: left;
  }

  .minto-page .review__top {
    padding: 0 20px;
  }

  .minto-page .review__items {
    margin: 50px 0 30px;
  }

  .minto-page .review__item {
    padding: 40px 30px;
  }

  .minto-page .review__item .head {
    flex-direction: column;
    align-items: start;
  }

  .minto-page .review__bottom p {
    margin-bottom: 10px;
  }

  .minto-page footer {
    padding: 39px 0 20px;
  }

  .minto-page footer .icon {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 849.5px) and (min-width: 768px) {
  .minto-page .is-sp {
    display: none !important;
  }

  .minto-page .mv .wrap {
    gap: 1%;
  }

  .minto-page .mv .img {
    width: 51.4vw;
  }

  .minto-page .mv__text {
    font-size: 21px;
  }
}

@media screen and (min-width: 850px) {
  .minto-page .is-sp {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .minto-page .is-pc {
    display: none !important;
  }
}
